<nav class="sidebar">
    <div class="sidebar-header">
        <a href="#" class="sidebar-brand">
            Remittance<span></span>
        </a>
        <div class="sidebar-toggler not-active">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="sidebar-body">
        <ul class="nav">
            <li class="nav-item nav-category">Main</li>
            <li {% if app.request.attributes.get( '_route' ) starts with 'homeagent' %} class="nav-item active"{% else %} class="nav-item" {% endif%}>
                <a href="{{ path('homeagent') }}" class="nav-link">
                    <i class="link-icon" data-feather="box"></i>
                    <span class="link-title">Dashboard</span>
                </a>
            </li>
            <li {% if app.request.attributes.get( '_route' ) starts with 'app_agent_transaction_history' %} class="nav-item active"{% else %} class="nav-item" {% endif%}>
                <a href="{{ path('app_agent_transaction_history') }}"  class="nav-link">
                    <i class="link-icon" data-feather="maximize-2"></i>
                    <span class="link-title">Transaction history</span>
                </a>
            </li>
            <li class="nav-item nav-category">Payout</li>
            <li {% if app.request.attributes.get( '_route' ) starts with 'app_agent_payout_add' %} class="nav-item active"{% else %} class="nav-item" {% endif%}>
                <a href="{{ path('app_agent_payout_add') }}"class="nav-link">
                    <i class="link-icon" data-feather="send"></i>
                    <span class="link-title">Payout now</span>
                </a>
            </li>
            <li {% if app.request.attributes.get( '_route' ) starts with 'app_agent_payout_history' %} class="nav-item active"{% else %} class="nav-item" {% endif%}>
                <a href="{{ path('app_agent_payout_history') }}" class="nav-link">
                    <i class="link-icon" data-feather="server"></i>
                    <span class="link-title">Payout history</span>
                </a>
            </li>
            <li class="nav-item nav-category">Send money</li>
            <li {% if app.request.attributes.get( '_route' ) starts with 'app_agent_send_money' %} class="nav-item active"{% else %} class="nav-item" {% endif%}>
                <a href="{{ path('app_agent_send_money') }}" class="nav-link">
                    <i class="link-icon" data-feather="dollar-sign"></i>
                    <span class="link-title">Send money</span>
                </a>
            </li>
            <li {% if app.request.attributes.get( '_route' ) starts with 'app_agent_send_history' %} class="nav-item active"{% else %} class="nav-item" {% endif%}>
                <a href="{{ path('app_agent_send_history') }}" class="nav-link">
                    <i class="link-icon" data-feather="more-vertical"></i>
                    <span class="link-title">history</span>
                </a>
            </li>
            <li class="nav-item nav-category">Deposit</li>
            <li {% if app.request.attributes.get( '_route' ) starts with 'app_agent_deposit_add' %} class="nav-item active"{% else %} class="nav-item" {% endif%}>
                <a href="{{ path('app_agent_deposit_add') }}" class="nav-link">
                    <i class="link-icon" data-feather="credit-card"></i>
                    <span class="link-title">Add money</span>
                </a>
            </li>
            <li {% if app.request.attributes.get( '_route' ) starts with 'app_agent_deposit_lis' %} class="nav-item active"{% else %} class="nav-item" {% endif%}>
                <a href="{{ path('app_agent_deposit_lis') }}" class="nav-link">
                    <i class="link-icon" data-feather="list"></i>
                    <span class="link-title">Deposit history</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
