{% extends 'base_user.html.twig' %}
{% block title %}
    Remittance| Dashboard
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .banner-area {
            height: 85px !important;
            position: relative;
        }
    </style>
{% endblock %}
{% block body %}
    <section class="banner-area d-block d-md-flex align-items-center"
             style="background-image:  url({{ asset('assets/front/images/banner-bg.png') }});">
    </section>
    <section class="ico-sale-area pt-100 pb-100">
        <div class="container">
            <div class="card">
                <div class="card-header bg-primary">

                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <td>Transaction N°</td>
                            <td>Reciepient</td>
                            <td>Amount send</td>
                            <td>Rate</td>
                            <td>Status</td>
                            <td>Action</td>
                        </tr>
                        </thead>

                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            function formatCountry(country) {
                if (!country.id) {
                    return country.text;
                }
                var $country = $(
                    '<span class="flag-icon flag-icon-' + country.id.toLowerCase() + ' flag-icon-squared"></span>' +
                    '<span class="flag-text">' + country.text + "</span>"
                );
                return $country;
            }

            $("[name='country_from']").select2({
                placeholder: "Select a country",
                templateResult: formatCountry,
                // data: isoCountries
            });
            $("[name='country']").select2({
                placeholder: "Select a country",
                templateResult: formatCountry,
                //   data: isoCountries
            });
            $('#from_amount').text($("[name='country_from'] option:selected").data("value"))
            $('#sumary_currency').text($("[name='country_from'] option:selected").data("value"))
            $('#to_amount').text($("[name='country'] option:selected").data("value"))
            $('#flag_before').addClass('flag-icon flag-icon-' + $("[name='country'] option:selected").val().toLowerCase() + ' flag-icon-squared');
            $("[name='country_from']").change(function () {
                $('#sumary_currency').text($("[name='country_from'] option:selected").data("value"))
                $('#from_amount').text($("[name='country_from'] option:selected").data("value"))
                $('#to_amount').text($("[name='country'] option:selected").data("value"))
                $('#flag_before').removeAttr('class');
                $('#flag_before').addClass('flag-icon flag-icon-' + $("[name='country_from']").val().toLowerCase() + ' flag-icon-squared');
                $.ajax({
                    url: "{{ path('get_customer_value_currency') }}",
                    type: "GET",
                    dataType: "JSON",
                    data: {
                        id_from: $("[name='country_from'] option:selected").data("id"),
                        id_to: $("[name='country'] option:selected").data("id"),
                        amount_from: $("#from-rate").val()
                    },
                    success: function (data) {
                        $('#to_amount_rate').text(data['value'])
                        $('#to-rate').val(data['amount_to'])
                        $("#sumary_total_charge").text(data['charge'])
                        $("#sumary_final_amout").text(data['finalamount']);
                        $('#sumary_payable_usd').text(data['payable_usd']);
                    },
                    error: function (err) {
                        setTimeout(function () {
                            $("#overlay").fadeOut(300);
                        }, 500);
                    }

                });
            })
            $('#flag_after').addClass('flag-icon flag-icon-' + $("[name='country'] option:selected").val().toLowerCase() + ' flag-icon-squared');
            $("[name='country']").change(function () {
                $('#sumary_currency').text($("[name='country_from'] option:selected").data("value"))
                $('#from_amount').text($("[name='country_from'] option:selected").data("value"))
                $('#to_amount').text($("[name='country'] option:selected").data("value"))
                $('#flag_after').removeAttr('class');
                $('#flag_after').addClass('flag-icon flag-icon-' + $("[name='country']").val().toLowerCase() + ' flag-icon-squared');
                $.ajax({
                    url: "{{ path('get_customer_value_to_currency') }}",
                    type: "GET",
                    dataType: "JSON",
                    data: {
                        id_from: $("[name='country_from'] option:selected").data("id"),
                        id_to: $("[name='country'] option:selected").data("id"),
                        amount_to: $("#to-rate").val()
                    },
                    success: function (data) {
                        $('#to_amount_rate').text(data['value'])
                        $('#from-rate').val(data['amount_from'])
                        $("#sumary_total_charge").text(data['charge'])
                        $("#sumary_final_amout").text(data['finalamount']);
                        $('#sumary_payable_usd').text(data['payable_usd']);
                    },
                    error: function (err) {
                        setTimeout(function () {
                            $("#overlay").fadeOut(300);
                        }, 500);
                    }

                });
            })
            $("#to-rate").change(function () {
                $.ajax({
                    url: "{{ path('get_customer_value_to_currency') }}",
                    type: "GET",
                    dataType: "JSON",
                    data: {
                        id_from: $("[name='country_from'] option:selected").data("id"),
                        id_to: $("[name='country'] option:selected").data("id"),
                        amount_to: $("#to-rate").val()
                    },
                    success: function (data) {
                        $('#to_amount_rate').text(data['value'])
                        $('#from-rate').val(data['amount_from'])
                        $("#sumary_total_charge").text(data['charge'])
                        $("#sumary_final_amout").text(data['finalamount']);
                        $('#sumary_payable_usd').text(data['payable_usd']);
                    },
                    error: function (err) {
                        setTimeout(function () {
                            $("#overlay").fadeOut(300);
                        }, 500);
                    }

                });
            })
            $("#from-rate").change(function () {
                $.ajax({
                    url: "{{ path('get_customer_value_currency') }}",
                    type: "GET",
                    dataType: "JSON",
                    data: {
                        id_from: $("[name='country_from'] option:selected").data("id"),
                        id_to: $("[name='country'] option:selected").data("id"),
                        amount_from: $("#from-rate").val()
                    },
                    success: function (data) {
                        $('#to_amount_rate').text(data['value'])
                        $('#to-rate').val(data['amount_to'])
                        $("#sumary_total_charge").text(data['charge'])
                        $("#sumary_final_amout").text(data['finalamount']);
                        $('#sumary_payable_usd').text(data['payable_usd']);
                    },
                    error: function (err) {
                        setTimeout(function () {
                            $("#overlay").fadeOut(300);
                        }, 500);
                    }

                });
            })
            $('#submit_send').click(function () {
                $.ajax({
                    url: "{{ path('customer_sendmoney_ajax') }}",
                    type: "POST",
                    dataType: "JSON",
                    data: {
                        id_from: $("[name='country_from'] option:selected").data("id"),
                        id_to: $("[name='country'] option:selected").data("id"),
                        amount_from: $("#from-rate").val(),
                        amount_to: $("#to-rate").val(),
                        charge: $("#sumary_total_charge").text(),
                        sender_address: $("#sender_address").val(),
                        sender_phone: $("#sender_phone").val(),
                        sender_name: $("#sender_name").val(),
                        receiver_address: $("#receiver_address").val(),
                        receiver_phone: $("#receiver_phone").val(),
                        receiver_name: $("#receiver_name").val(),
                        source_fund: $("#sourcefound").val(),
                        send_puporse: $("#sourcepurpose").val(),
                    },
                    success: function (data) {
                        var id = data['id'];
                        /* var url = Routing.generate('app_agent_transaction_detail', {
                             'id': id,
                         });
                         window.open(url,'_parent');*/
                    },
                    error: function (err) {
                        setTimeout(function () {
                            $("#overlay").fadeOut(300);
                        }, 500);
                    }

                });
            })
        });
    </script>
{% endblock %}
