{% extends 'base_user.html.twig' %}
{% block title %}
    Remittance| send money
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .banner-area {
            height: 85px !important;
            position: relative;
        }
    </style>
{% endblock %}
{% block body %}
    <section class="banner-area  d-block d-md-flex align-items-center"
             style="background-image:  url({{ asset('assets/front/images/banner-bg.png') }});">
    </section>
        <section class="ico-sale-area pt-100 pb-100 justify-content-center">
            <div class="col-md-10 justify-content-center">
                <div class="card">
                    <div class="card-header bg-primary">

                    </div>
                    <div class="card-body">
            <div class="row">
                <div class="col-12 mb-3">
                    <label for="message-text" class="form-label">You send:</label>
                    <div class="input-group" id="datePickerExample">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <span  id="flag_before" class=""></span></span>
                        </div>
                        <div class="input-group-prepend">
                            <select id="country_from" name="country_from"
                                    class="input-group-prepend"
                                    data-width="100%">
                                {% for c in countries %}
                                    <option data-id="{{ c.id }}" data-charge="{{ c.percentcharge }}"
                                            data-rate="{{ c.rate }}"
                                            data-value="{{ c.currency }}" value="{{ c.flag|lower }}"><span
                                                class="flag-text">{{ c.name|lower }}</span></option>
                                {% endfor %}
                            </select>
                        </div>
                        <input min="0.0" type="number" name="from_rate" class="form-control"
                               id="from-rate">
                    </div>
                </div>
                <div class="col-12 mb-3">
                    <label for="message-text" class="form-label">Recipient gets:</label>
                    <div class="input-group" id="datePickerExample">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <span id="flag_after" class=""></span></span>
                        </div>
                        <div class="input-group-prepend">
                            <select id="country" name="country"
                                    class="input-group-text js-example-basic-single form-select"
                                    data-width="100%">
                                {% for c in countries %}
                                    <option data-id="{{ c.id }}" data-rate="{{ c.rate }}" data-charge="{{ c.percentcharge }}"
                                            data-value="{{ c.currency }}" value="{{ c.flag|lower }}">{{ c.name|lower }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <input type="number" min="0.0" name="to_rate" class="form-control"
                               id="to-rate">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 list">
                    <ul class="ml-20">
                        <li class="text-uppercase mb-3">Total charge <span class="text-success" id="from_amount"></span>: <span class="float-right blob" id="sumary_total_charge"></span></li>
                        <li class="text-uppercase mb-3">Final amount <span class="text-success" id="sumary_currency"></span>: <span class="float-right blob" id="sumary_final_amout"></span></li>
                        <li class="text-uppercase mb-3">Payable: <span class="text-warning" >{{ configuration.currency }}</span> <span class="float-right blob" id="sumary_payable_usd"></span></li>
                    </ul>
                </div>
            </div>
            <div class="row justify-content-center">
                <button type="button" id="submit_send" class="btn btn-primary">Send money</button>
            </div>
                    </div>
                </div>
            </div>

    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            function formatCountry(country) {
                if (!country.id) {
                    return country.text;
                }
                var $country = $(
                    '<span class="flag-icon flag-icon-' + country.id.toLowerCase() + ' flag-icon-squared"></span>' +
                    '<span class="flag-text">' + country.text + "</span>"
                );
                return $country;
            }

            $("[name='country_from']").select2({
                placeholder: "Select a country",
                templateResult: formatCountry,
                // data: isoCountries
            });
            $("[name='country']").select2({
                placeholder: "Select a country",
                templateResult: formatCountry,
                //   data: isoCountries
            });
            $('#from_amount').text($("[name='country_from'] option:selected").data("value"))
            $('#sumary_currency').text($("[name='country_from'] option:selected").data("value"))
            $('#to_amount').text($("[name='country'] option:selected").data("value"))
            $('#flag_before').addClass('flag-icon flag-icon-' + $("[name='country'] option:selected").val().toLowerCase() + ' flag-icon-squared');
            $("[name='country_from']").change(function () {
                $('#sumary_currency').text($("[name='country_from'] option:selected").data("value"))
                $('#from_amount').text($("[name='country_from'] option:selected").data("value"))
                $('#to_amount').text($("[name='country'] option:selected").data("value"))
                $('#flag_before').removeAttr('class');
                $('#flag_before').addClass('flag-icon flag-icon-' + $("[name='country_from']").val().toLowerCase() + ' flag-icon-squared');
                $.ajax({
                    url: "{{ path('get_customer_value_currency') }}",
                    type: "GET",
                    dataType: "JSON",
                    data: {
                        id_from:$("[name='country_from'] option:selected").data("id"),
                        id_to:$("[name='country'] option:selected").data("id"),
                        amount_from:$("#from-rate").val()
                    },
                    success: function (data) {
                        $('#to_amount_rate').text(data['value'])
                        $('#to-rate').val(data['amount_to'])
                        $("#sumary_total_charge").text(data['charge'])
                        $("#sumary_final_amout").text(data['finalamount']);
                        $('#sumary_payable_usd').text(data['payable_usd']);
                    },
                    error: function (err) {
                        setTimeout(function () {
                            $("#overlay").fadeOut(300);
                        }, 500);
                    }

                });
            })
            $('#flag_after').addClass('flag-icon flag-icon-' + $("[name='country'] option:selected").val().toLowerCase() + ' flag-icon-squared');
            $("[name='country']").change(function () {
                $('#sumary_currency').text($("[name='country_from'] option:selected").data("value"))
                $('#from_amount').text($("[name='country_from'] option:selected").data("value"))
                $('#to_amount').text($("[name='country'] option:selected").data("value"))
                $('#flag_after').removeAttr('class');
                $('#flag_after').addClass('flag-icon flag-icon-' + $("[name='country']").val().toLowerCase() + ' flag-icon-squared');
                $.ajax({
                    url: "{{ path('get_customer_value_to_currency') }}",
                    type: "GET",
                    dataType: "JSON",
                    data: {
                        id_from:$("[name='country_from'] option:selected").data("id"),
                        id_to:$("[name='country'] option:selected").data("id"),
                        amount_to:$("#to-rate").val()
                    },
                    success: function (data) {
                        $('#to_amount_rate').text(data['value'])
                        $('#from-rate').val(data['amount_from'])
                        $("#sumary_total_charge").text(data['charge'])
                        $("#sumary_final_amout").text(data['finalamount']);
                        $('#sumary_payable_usd').text(data['payable_usd']);
                    },
                    error: function (err) {
                        setTimeout(function () {
                            $("#overlay").fadeOut(300);
                        }, 500);
                    }

                });
            })
            $("#to-rate").change(function () {
                $.ajax({
                    url: "{{ path('get_customer_value_to_currency') }}",
                    type: "GET",
                    dataType: "JSON",
                    data: {
                        id_from:$("[name='country_from'] option:selected").data("id"),
                        id_to:$("[name='country'] option:selected").data("id"),
                        amount_to:$("#to-rate").val()
                    },
                    success: function (data) {
                        $('#to_amount_rate').text(data['value'])
                        $('#from-rate').val(data['amount_from'])
                        $("#sumary_total_charge").text(data['charge'])
                        $("#sumary_final_amout").text(data['finalamount']);
                        $('#sumary_payable_usd').text(data['payable_usd']);
                    },
                    error: function (err) {
                        setTimeout(function () {
                            $("#overlay").fadeOut(300);
                        }, 500);
                    }

                });
            })
            $("#from-rate").change(function () {
                $.ajax({
                    url: "{{ path('get_customer_value_currency') }}",
                    type: "GET",
                    dataType: "JSON",
                    data: {
                        id_from:$("[name='country_from'] option:selected").data("id"),
                        id_to:$("[name='country'] option:selected").data("id"),
                        amount_from:$("#from-rate").val()
                    },
                    success: function (data) {
                        $('#to_amount_rate').text(data['value'])
                        $('#to-rate').val(data['amount_to'])
                        $("#sumary_total_charge").text(data['charge'])
                        $("#sumary_final_amout").text(data['finalamount']);
                        $('#sumary_payable_usd').text(data['payable_usd']);
                    },
                    error: function (err) {
                        setTimeout(function () {
                            $("#overlay").fadeOut(300);
                        }, 500);
                    }

                });
            })
            $('#submit_send').click(function () {
                $.ajax({
                    url: "{{ path('customer_sendmoney_ajax') }}",
                    type: "POST",
                    dataType: "JSON",
                    data: {
                        id_from:$("[name='country_from'] option:selected").data("id"),
                        id_to:$("[name='country'] option:selected").data("id"),
                        amount_from:$("#from-rate").val(),
                        amount_to:$("#to-rate").val(),
                        charge:$("#sumary_total_charge").text(),
                        sender_address:$("#sender_address").val(),
                        sender_phone:$("#sender_phone").val(),
                        sender_name:$("#sender_name").val(),
                        receiver_address:$("#receiver_address").val(),
                        receiver_phone:$("#receiver_phone").val(),
                        receiver_name:$("#receiver_name").val(),
                        source_fund:$("#sourcefound").val(),
                        send_puporse:$("#sourcepurpose").val(),
                    },
                    success: function (data) {
                        var id=data['id'];
                        /* var url = Routing.generate('app_agent_transaction_detail', {
                             'id': id,
                         });
                         window.open(url,'_parent');*/
                    },
                    error: function (err) {
                        setTimeout(function () {
                            $("#overlay").fadeOut(300);
                        }, 500);
                    }

                });
            })
        });
    </script>
{% endblock %}
